<div class="side-nav-wrapper">
  <button class="question-btn">
    <span class="btn-text">Ask a Question</span>
  </button>
  {{top-contributors 
    topContributors=topContributors
    }}
  {{important-links}}
  {{community-browser}}
</div>