<div class="side-nav-wrapper">
  <div class="discourse-top-contributors side-nav">
    <h1 class="side-nav-heading">
      {{d-icon "user"}}
      Top Contributors
    </h1>

    <div class="top-contributors-container side-nav-container-body">
      {{#each topContributors as |user|}}
        {{top-contributor data=user}}
      {{/each}}
      <div class="top-contributors-container-link">
        <a href="/u?order=likes_received&period=yearly">
          {{theme-i18n "top_contributors.view_all"}}
        </a>
      </div>
    </div>
  </div>

  <div class="discourse-important-links side-nav">
    <h1 class="side-nav-heading">{{d-icon "link"}} Important Links</h1>

    <ul class="side-nav-container-body links-wrapper">
      <li>
        <a href="#">All Unanswered Topics</a>
      </li>
      <li>
        <a href="#">Community Blog</a>
      </li>
      <li>
        <a href="#">Community Guidelines</a>
      </li>
      <li>
        <a href="#">Code of Conduct</a>
      </li>
      <li>
        <a href="#">Terms of Service</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>

  <div class="discourse-community-browser side-nav">
    <h1 class="side-nav-heading">
      <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#globe"></use></svg>
       Community Browser</h1>
    <ul class="side-nav-container-body nested-dropdowns">

      <li class="lia-tree-node-7 lia-list-tree-selected">
        <span title="Category" aria-label="Category">
          <img
              title="Click to expand Shopify Discussion category"
              alt="Click to expand Click to expand Shopify Discussion category Click to collapse Shopify Discussion category"
              data-close-title="Click to collapse Shopify Discussion category"
              data-open-title="Click to expand Shopify Discussion category"
              class="showDropdown1" 
              id="display"
              src="https://community.shopify.com/skins/images/DB5B1AB4E6308EEBBCAF62256AA16725/responsive_peak/images/icon_toggle_closed_list_tree.png"
            />
            <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#folder-open"></use></svg>
        </span>
        <a href="/">
        G2G Community
        </a>
        <ul class="dropdown1">
          <li class="lia-tree-node-136 lia-list-tree-toggle-node lia-list-tree-closed">
            <span
              class="lia-img-icon-category lia-fa-icon lia-fa-category lia-fa lia-node-icon"
              title="Category"
              aria-label="Category"
              role="img"
              id="imagedisplay_5"
            >
            <img
              title="Click to expand Shopify Discussion category"
              alt="Click to expand Click to expand Shopify Discussion category Click to collapse Shopify Discussion category"
              data-close-title="Click to collapse Shopify Discussion category"
              data-open-title="Click to expand Shopify Discussion category"
              class="showDropdown2"
              id="display"
              src="https://community.shopify.com/skins/images/DB5B1AB4E6308EEBBCAF62256AA16725/responsive_peak/images/icon_toggle_closed_list_tree.png"
            />
            <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#folder-open"></use></svg>
            </span>
            <a
              class="lia-link-navigation lia-js-data-coreNodeDisplayId-shopify-discussion lia-js-data-coreNodeTypeAndId-category:shopify-discussion lia-js-data-coreNodeId-136 lia-component-forums-widget-community-node-tree-item"
              id="link_21"
              href="/categories"
            >G2G Discussion</a>
            <ul class="dropdown2">
              <li class="lia-tree-node-125">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_7"
                >
                  <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-gallery lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-gallery lia-js-data-coreNodeId-125 lia-component-forums-widget-community-node-tree-item"
                  id="link_23"
                  href="/c/it/1"
                >Uncategorized</a>
              </li><li class="lia-tree-node-131">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_8"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-design lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-design lia-js-data-coreNodeId-131 lia-component-forums-widget-community-node-tree-item"
                  id="link_24"
                  href="/c/static/14"
                >Static</a>
              </li>
              <li class="lia-tree-node-118">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_10"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-shopify-apps lia-js-data-coreNodeTypeAndId-forum-board:shopify-apps lia-js-data-coreNodeId-118 lia-component-forums-widget-community-node-tree-item"
                  id="link_26"
                  href="/c/questions-and-answers/8"
                >Questions and Answers</a>
              </li><li class="lia-tree-node-126">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_11"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-marketing lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-marketing lia-js-data-coreNodeId-126 lia-component-forums-widget-community-node-tree-item"
                  id="link_27"
                  href="/c/for-members/7"
                >For Members</a>
              </li><li class="lia-tree-node-114">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_12"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-technical-qa lia-js-data-coreNodeTypeAndId-forum-board:technical-qa lia-js-data-coreNodeId-114 lia-component-forums-widget-community-node-tree-item"
                  id="link_28"
                  href="/c/staff/3"
                >Staff</a>
              </li>
              <li class="lia-tree-node-133">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_13"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-announcements lia-js-data-coreNodeTypeAndId-forum-board:announcements lia-js-data-coreNodeId-133 lia-component-forums-widget-community-node-tree-item"
                  id="link_29"
                  href="/c/lounge/4"
                >Lounge</a>
              </li>
              <li class="lia-tree-node-133">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_13"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-announcements lia-js-data-coreNodeTypeAndId-forum-board:announcements lia-js-data-coreNodeId-133 lia-component-forums-widget-community-node-tree-item"
                  id="link_29"
                  href="/c/hr/5"
                >HR</a>
              </li>
              <li class="lia-tree-node-133">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_13"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-announcements lia-js-data-coreNodeTypeAndId-forum-board:announcements lia-js-data-coreNodeId-133 lia-component-forums-widget-community-node-tree-item"
                  id="link_29"
                  href="/c/q-a/9"
                >Q&amp;A</a>
              </li>
              <li class="lia-tree-node-133">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_13"
                >
                <svg class="fa d-icon d-icon-bell svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>
                </span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-announcements lia-js-data-coreNodeTypeAndId-forum-board:announcements lia-js-data-coreNodeId-133 lia-component-forums-widget-community-node-tree-item"
                  id="link_29"
                  href="/c/resources-test/13"
                >Resources</a>
              </li>
              </ul>
              </li>
          <li class="lia-tree-node-615">
            <span
              class="lia-img-icon-occasion-board lia-fa-icon lia-fa-occasion lia-fa-board lia-fa lia-node-icon"
              title="Events"
              alt="Events"
              aria-label="Events"
              role="img"
              id="imagedisplay_37"
            >
            <svg class="fa d-icon d-icon-calendar-alt svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#calendar-alt"></use></svg>
            </span>
            <a
              class="lia-link-navigation lia-js-data-coreNodeDisplayId-events_en lia-js-data-coreNodeTypeAndId-occasion-board:events_en lia-js-data-coreNodeId-615 lia-component-forums-widget-community-node-tree-item"
              id="link_57"
              href="https://goodtogrowproducts.com/1dayworkshop/"
            >Events</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>