<div class="side-nav-wrapper">
  <div class="discourse-top-contributors side-nav">
    <h1 class="side-nav-heading">
      {{!-- {{theme-i18n "top_contributors.title"}} --}}
      Top Contributors
    </h1>

    <div class="top-contributors-container side-nav-container-body">
      {{#each topContributors as |user|}}
        {{top-contributor data=user}}
      {{/each}}
      <div class="top-contributors-container-link">
        <a href="/u?order=likes_received&period=yearly">
          {{theme-i18n "top_contributors.view_all"}}
        </a>
      </div>
    </div>
  </div>

  <div class="discourse-important-links side-nav">
    <h1 class="side-nav-heading">Important Links</h1>

    <ul class="side-nav-container-body links-wrapper">
      <li>
        <a href="#">All Unanswered Topics</a>
      </li>
      <li>
        <a href="#">Community Blog</a>
      </li>
      <li>
        <a href="#">Community Guidelines</a>
      </li>
      <li>
        <a href="#">Code of Conduct</a>
      </li>
      <li>
        <a href="#">Terms of Service</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>

  <div class="discourse-community-browser side-nav">
    <h1 class="side-nav-heading">Community Browser</h1>
    <ul class="side-nav-container-body nested-dropdowns">
      <li class="lia-tree-node-7 lia-list-tree-selected">
        <span title="Category" aria-label="Category"></span>
        <a href="https://community.shopify.com/c/community/categorypage/category-id/en">
        Shopify Community
        </a>
        <ul class="lia-list-tree-toggle-container">
          <li class="lia-tree-node-136 lia-list-tree-toggle-node lia-list-tree-closed">
          <a
              class="lia-link-navigation lia-js-data-treeNodeId-136 lia-js-data-treeNodeDepth-1 lia-list-tree-toggle lia-component-common-widget-link"
              tabindex="0"
              aria-label="Click to expand Shopify Discussion category"
              id="link_20"
              href="#"
            ><img
                title="Click to expand Shopify Discussion category"
                alt="Click to expand Click to expand Shopify Discussion category Click to collapse Shopify Discussion category"
                data-close-title="Click to collapse Shopify Discussion category"
                data-open-title="Click to expand Shopify Discussion category"
                class="lia-list-tree-toggle-image"
                id="display"
                src="https://community.shopify.com/skins/images/DB5B1AB4E6308EEBBCAF62256AA16725/responsive_peak/images/icon_toggle_closed_list_tree.png"
              /></a>
            <span
              class="lia-img-icon-category lia-fa-icon lia-fa-category lia-fa lia-node-icon"
              title="Category"
              aria-label="Category"
              role="img"
              id="imagedisplay_5"
            ></span>
            <a
              class="lia-link-navigation lia-js-data-coreNodeDisplayId-shopify-discussion lia-js-data-coreNodeTypeAndId-category:shopify-discussion lia-js-data-coreNodeId-136 lia-component-forums-widget-community-node-tree-item"
              id="link_21"
              href="https://community.shopify.com/c/community/categorypage/category-id/shopify-discussion"
            >Shopify Discussion</a>
            <ul><li class="lia-tree-node-132">
              
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_6"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-shopify-discussion lia-js-data-coreNodeTypeAndId-forum-board:shopify-discussion lia-js-data-coreNodeId-132 lia-component-forums-widget-community-node-tree-item"
                  id="link_22"
                  href="/c/shopify-discussions/bd-p/shopify-discussion"
                >Shopify Discussions</a>
              </li><li class="lia-tree-node-125">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_7"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-gallery lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-gallery lia-js-data-coreNodeId-125 lia-component-forums-widget-community-node-tree-item"
                  id="link_23"
                  href="/c/store-feedback/bd-p/ecommerce-gallery"
                >Store Feedback</a>
              </li><li class="lia-tree-node-131">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_8"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-design lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-design lia-js-data-coreNodeId-131 lia-component-forums-widget-community-node-tree-item"
                  id="link_24"
                  href="/c/shopify-design/bd-p/ecommerce-design"
                >Shopify Design</a>
              </li><li class="lia-tree-node-671">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_9"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-editions lia-js-data-coreNodeTypeAndId-forum-board:editions lia-js-data-coreNodeId-671 lia-component-forums-widget-community-node-tree-item"
                  id="link_25"
                  href="/c/shopify-editions/bd-p/editions"
                >Shopify Editions</a>
              </li><li class="lia-tree-node-118">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_10"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-shopify-apps lia-js-data-coreNodeTypeAndId-forum-board:shopify-apps lia-js-data-coreNodeId-118 lia-component-forums-widget-community-node-tree-item"
                  id="link_26"
                  href="/c/shopify-apps/bd-p/shopify-apps"
                >Shopify Apps</a>
              </li><li class="lia-tree-node-126">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_11"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-ecommerce-marketing lia-js-data-coreNodeTypeAndId-forum-board:ecommerce-marketing lia-js-data-coreNodeId-126 lia-component-forums-widget-community-node-tree-item"
                  id="link_27"
                  href="/c/ecommerce-marketing/bd-p/ecommerce-marketing"
                >Ecommerce Marketing</a>
              </li><li class="lia-tree-node-114">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_12"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-technical-qa lia-js-data-coreNodeTypeAndId-forum-board:technical-qa lia-js-data-coreNodeId-114 lia-component-forums-widget-community-node-tree-item"
                  id="link_28"
                  href="/c/technical-q-a/bd-p/technical-qa"
                >Technical Q&amp;A</a>
              </li><li class="lia-tree-node-133">
                <span
                  class="lia-img-icon-forum-board lia-fa-icon lia-fa-forum lia-fa-board lia-fa lia-node-icon"
                  title="Forum"
                  alt="Forum"
                  aria-label="Forum"
                  role="img"
                  id="imagedisplay_13"
                ></span>
                <a
                  class="lia-link-navigation lia-js-data-coreNodeDisplayId-announcements lia-js-data-coreNodeTypeAndId-forum-board:announcements lia-js-data-coreNodeId-133 lia-component-forums-widget-community-node-tree-item"
                  id="link_29"
                  href="/c/announcements/bd-p/announcements"
                >Announcements</a>
              </li>
              </ul></li>
          <li class="lia-tree-node-615">
            <span
              class="lia-img-icon-occasion-board lia-fa-icon lia-fa-occasion lia-fa-board lia-fa lia-node-icon"
              title="Events"
              alt="Events"
              aria-label="Events"
              role="img"
              id="imagedisplay_37"
            ></span>
            <a
              class="lia-link-navigation lia-js-data-coreNodeDisplayId-events_en lia-js-data-coreNodeTypeAndId-occasion-board:events_en lia-js-data-coreNodeId-615 lia-component-forums-widget-community-node-tree-item"
              id="link_57"
              href="/c/events/eb-p/events_en"
            >Events</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>