// .topic-list.with-sidebar {
//   > div {
//     display: none;
//   }
// }
// .topic-list-item {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 4fr;
//   grid-template-rows: 4fr 1fr 1fr;
//   .main-link {
//     grid-column: 1 / 5;
//     grid-row: 1;
//   }
// }

.with-sidebar {
  display: block;
}

.side-nav {
  border: 1px solid #d2d5d9;
  margin-top: 3rem;
  padding: 0;
  width: 100%;
  border-radius: 6px;
  
  .side-nav-heading {
    font-size: 1.5em;
    padding: 1em;
    border-bottom: 1px solid #d2d5d9;
    white-space: nowrap;
    background-color: #FAF9F8;
  }
}

.side-nav-container-body  {
  padding: 0 1em;
}

.side-nav-container-body {
  > *:not(:last-child) {
    border-bottom: 1px solid #d2d5d9;
  }
  > * {
    padding: 1.5rem 0;
  }
}

.top-contributors-container  {
  .top-contributors-container-contributor {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  img.avatar {
    margin-right: 5px;
  }
  .top-contributors-container-contributor-name .user {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    cursor: pointer;
  }
  .top-contributors-container-contributor-likes {
    margin-left: auto;
    .fa {
      fill: var(--love);
    }
  }
    .top-contributors-container-link {
      padding: 1rem 0;
    }
}

.top-contributors-container-contributor {
  :not(:last-child):first-child {
    margin-left: 0.5rem;
    padding: 0.5em 1.5rem 0.25em;
  }
  &:nth-child(1)::before {
    content: "#1 ";
  }
  &:nth-child(2)::before {
    content: "#2 ";
  }
  &:nth-child(3)::before {
    content: "#3 ";
  }
  &:nth-child(4)::before {
    content: "#4 ";
  }
  &:nth-child(5)::before {
    content: "#5 ";
  }
}

// important links
.side-nav-container-body.links-wrapper {
  list-style-type: none;
  margin: 0;
 > li > a {
  text-decoration: none;
  color: inherit;
 }
}

.side-nav-container-body.links-wrapper {
  > li> a:hover {
  color: var(--tertiary);
 }
}

@media screen and (min-width: 850px) {
  #list-area > .contents > .topic-list.with-sidebar {
    display: grid;
    grid-column-gap: 2%;
    align-items: start;
    grid-template-rows: 50px auto auto auto;
    grid-template-columns: 65% 32%;
    grid-template-areas:
      "head sidebar"
      "body sidebar"
      ;
    thead {
      grid-area: head;
      display: table;
      align-self: end;
    }
    > .side-nav-wrapper {
      grid-area: sidebar;
      .side-nav {
        overflow: hidden;
        margin-top: 30px;
      }
    }
    
    tbody {
      grid-area: body;
      display: table;
    }

    // important links
    .discourse-important-links {
      grid-area: sidebar2;
    }
  }
}

// what is this for?
// .custom-sidebar {
//   #list-area .show-more.has-topics .alert {
//     box-sizing: border-box;
//     width: 75%;
//     @media screen and (max-width: 900px) {
//       width: 73%;
//     }
//   }
// }
