<div class="discourse-important-links side-nav">
  <h1 class="side-nav-heading">{{d-icon "link"}} Important Links</h1>

  <ul class="side-nav-container-body links-wrapper">
    <li>
      <a href="#">All Unanswered Topics</a>
    </li>
    <li>
      <a href="#">Community Blog</a>
    </li>
    <li>
      <a href="#">Community Guidelines</a>
    </li>
    <li>
      <a href="#">Code of Conduct</a>
    </li>
    <li>
      <a href="#">Terms of Service</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
  </ul>
</div>