<div class="discourse-important-links side-nav">
  <h1 class="side-nav-heading">{{d-icon "link"}} Important Links</h1>
  <ul class="side-nav-container-body links-wrapper">
    {{#each importantLinks}}
      <li>
        <a href={{importantLinks.url}}>{{importantLinks.name}}</a>
      </li>
    {{/each}}
  </ul>
</div>