<div class="side-nav-wrapper">
  {{#if shouldQuestionBtnAppear}}
  <button class="question-btn">
    <span class="btn-text">Ask a Question</span>
  </button>
  {{#else}}
  {{side-dropdown}}
  {{/if}}
  {{top-contributors}}
  {{important-links}}
  {{community-browser}}
</div>